$blemil-white: color('shades', 'white') !default;
$blemil-black: color('shades', 'black') !default;
$blemil-blue: color('blemil-primary', 'base') !default;
$blemil-orange: color('shades', 'orange') !default;
$blemil-green: color('shades', 'green') !default;
$blemil-bluesecond: color('shades', 'bluesecond') !default;